body{

  background-color: #849296;
  text-transform: uppercase;
  font-size: 12px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  background-color: lightblue;
}

img{
  margin-top: 50px;
}

#explorer{
  margin-top: 100px;
}

#file{
  display: block;
}

#folder{
  display: block;
}

#home{
  display: block;
}

#prev{
  display: block;
}
