body{

  background-color: #849296;
}

img{

}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  background-color: lightblue;
}

#file{
  display: block;
}

#folder{
  display: block;
}

#home{
  display: block;
}

#prev{
  display: block;
}
